body{
  padding: 30px;
  background-color: lightseagreen;
}
h2, p{
  margin: 0;
  padding: 0;
}
.cardContainer{
  display: flex;  
  justify-content: center;   
  padding: 1rem;  
  justify-items: center;  
}
.card{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  width: 200px;
  height: 180px;
  border-radius: 22px;
  padding: 20px 10px;  
}

.card img{
  width: 80px;
  border-radius: 50%;  
  align-items: center;
  margin: 0;
  padding: 0;

}
.cardUserImage{
  width: 100%;
  max-width: 100%;
  text-align: center;

}

.cardTitle{
  font-weight: 500;
  color: #000;
  margin:0;
  padding: 4px;
}

.cardSubTitle p{
  color: slategrey;  
  margin:0;
  padding: 4px;
  
}

